{%- if page.expanding_header -%}
  <div class="site-big-header" id="js-site-big-header">
    <div class="inner">
      <div class="image"></div>
      <div class="content">
        <h1 class="content-title">Hi! I'm <strong>Ryan.</strong></h1>
        <p class="content-paragraph">
          I build stuff in my spare time.
          Also, a software engineer at <a href="https://bread.works" target="_blank">Bread</a>.
        </p>
        <a class="content-more" href="{{'/about' | relative_url}}">
          More about me <i class="fal fa-arrow-right fa-xs"></i>
        </a>
      </div>
    </div>

    <img class="tool laptop" src="{{'/assets/img/Laptop.svg' | relative_url}}" />
    <img class="tool notebook" src="{{'/assets/img/Notebook.svg' | relative_url}}" />
    <img class="tool wrench" src="{{'/assets/img/Wrench.svg' | relative_url}}" />
    <img class="tool paintbrush" src="{{'/assets/img/Paintbrush.svg' | relative_url}}" />
    <img class="tool thread" src="{{'/assets/img/Thread.svg' | relative_url}}" />

    <img class="tool mat" src="{{'/assets/img/Mat.svg' | relative_url}}" />
    <img class="tool onetwothree" src="{{'/assets/img/1-2-3 Block.svg' | relative_url}}" />
    <img class="tool camera" src="{{'/assets/img/Sony A6000.svg' | relative_url}}" />
    <img class="tool keyboard" src="{{'/assets/img/Keyboard.svg' | relative_url}}" />
  </div>
{%- endif -%}

<header class="site-header{% if page.transparent_header %} transparent{% endif %}">
  <div class="inner">
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}
    {%- assign titles_size = site.pages | map: 'title' | join: '' | size -%}
    <a class="site-title-mark" href="{{'/' | relative_url}}">
      <img src="{{'/assets/img/Logo Dark Circle.svg' | relative_url}}" />
    </a>

    {%- if titles_size > 0 -%}
      <!--
      <nav class="site-nav">
        <input type="checkbox" id="nav-trigger" class="nav-trigger" />
        <label for="nav-trigger">
          <span class="menu-icon">
            <i class="fal fa-bars"></i>
          </span>
        </label>

        <div class="trigger">
          <div class="site-nav">
            <label for="nav-trigger">
              <span class="menu-icon">
                <i class="fal fa-bars"></i>
              </span>
            </label>
          </div>

          {%- for path in page_paths -%}
            {%- assign my_page = site.pages | where: "path", path | first -%}
            {%- if my_page.title -%}
              <a
                class="page-link{% if page.url == my_page.url %} active{% endif %}"
                href="{{ my_page.url | relative_url }}"
              >{{ my_page.title | escape }}</a>
            {%- endif -%}
          {%- endfor -%}
        </div>
      </nav>
      -->
    {%- endif -%}

    <div class="social-media-links">
      <a href="mailto:ryan@rgaus.net" target="_blank">
        <i class="fal fa-envelope fa-lg"></i>
      </a>
      <a href="https://github.com/1egoman" target="_blank">
        <i class="fab fa-github fa-lg"></i>
      </a>
      <a href="https://www.youtube.com/@RyanGausMakes" target="_blank">
        <i class="fab fa-youtube fa-lg"></i>
      </a>
    </div>
  </div>
</header>


{%- if page.about_page_header -%}
  <div class="about-header">
    <div class="inner">
      <div class="image"></div>
      <div class="content">
        <h1 class="content-title">Hi! I'm <strong>Ryan.</strong></h1>
        <p class="content-subtitle">
          I build stuff in my spare time &amp; use "moderate" often
        </p>
        <p class="content-paragraph">
          Since I was a kid, I've always had a knack for building things. From
          my mom and I making a full size walking horse model for a play to
          designing &amp; building my own letterpress, I try to approach every
          problem with the respect it deserves.
        </p>
        <p class="content-paragraph">
          I grew up in the <em>Syracuse, NY</em> area - and that's always where home will be.
          After living there for most of my life, I spent the whole of 2022 travelling around
          the USA looking for what's next and settled on <em>Philadelphia, PA</em>. It's been great
          so far!
        </p>
      </div>
    </div>
    <div class="curved-bottom"></div>
  </div>

  <div class="about-projects">
    <div class="inner">
      <div class="content">
        <h2 class="content-title">Projects</h2>
        <p class="content-paragraph">
          FOO
        </p>
      </div>
    </div>
  </div>

  <div class="about-work">
    <div class="curved-top"></div>
    <div class="inner">
      <div class="content">
        <h2 class="content-title">Work</h2>
        <p class="content-paragraph">
          I started writing software when I was in my early teens and through a series of
          serendipitous events, now work with a bunch of great people at
          <a href="https://bread.works" target="_blank">Bread</a>.
        </p>
        <p class="content-paragraph">
          Before that, I worked at <a href="https://density.io" target="_blank">Density</a> - I was one of the first
          engineers hired in 2016 and 7 years later helped grow the
          business to a 1 billion dollar valuation. <a href="https://www.linkedin.com/in/ryan-gaus-08068617b/" target="_blank">Read my LinkedIn</a>
        </p>
        <p class="content-paragraph">
          Outside of my 9 to 5, I teach at <a href="https://careersincode.org" target="_blank">Careers in Code</a>, helping to solve Central New York's poverty epidemic.
        </p>
      </div>
    </div>
  </div>
{%- endif -%}
