{%- if page.expanding_header -%}
  <div class="site-big-header" id="js-site-big-header">
    <div class="inner">
      <!-- <div class="image" id="js&#45;header&#45;image"></div> -->
      <!-- <script> -->
      <!--   // setTimeout(function() { -->
      <!--   //   const headerHeight = document.getElementById('js&#45;site&#45;big&#45;header').getBoundingClientRect().height; -->
      <!--   //   const startTransitionHeight = 0; -->
      <!--   //   const endImageSize = 0; -->
      <!--   //   window.addEventListener('scroll', function() { -->
      <!--   //     const y = window.scrollY; -->
      <!--   // -->
      <!--   //     if (y < startTransitionHeight) { -->
      <!--   //       document.getElementById('js&#45;header&#45;image').style.width = 216; -->
      <!--   //       document.getElementById('js&#45;header&#45;image').style.height = 216; -->
      <!--   //       return -->
      <!--   //     } -->
      <!--   // -->
      <!--   //     const percentageRaw = (y &#45; startTransitionHeight) / (headerHeight &#45; startTransitionHeight); -->
      <!--   //     const percentage = Math.min(percentageRaw, 1); -->
      <!--   // -->
      <!--   //     const imageSize = endImageSize + ((1 &#45; percentage) * (216 &#45; endImageSize)); -->
      <!--   //     document.getElementById('js&#45;header&#45;image').style.width = imageSize + 'px'; -->
      <!--   //     document.getElementById('js&#45;header&#45;image').style.height = imageSize + 'px'; -->
      <!--   //   }); -->
      <!--   // }, 100); -->
      <!--  -->
      <!--   setTimeout(function() { -->
      <!--     const headerHeight = document.getElementById('js&#45;site&#45;big&#45;header').getBoundingClientRect().height; -->
      <!--     const headerWidth = window.innerWidth; -->
      <!--     const initialPositions = Array.from(document.querySelectorAll('.tool')).map(elem => { -->
      <!--       const pos = elem.getBoundingClientRect(); -->
      <!--  -->
      <!--       let initialX = headerWidth / 2, initialY = headerHeight / 2; -->
      <!--       if (pos.x >= (headerWidth / 2)) { -->
      <!--         initialX *= &#45;1; -->
      <!--       } -->
      <!--       if (pos.y < (headerHeight / 2)) { -->
      <!--         initialY *= &#45;1; -->
      <!--       } -->
      <!--  -->
      <!--       return [elem, [initialX, initialY], [0, 0]]; -->
      <!--     }); -->
      <!--  -->
      <!--     const startTransitionHeight = 0; -->
      <!--     const endImageSize = 0; -->
      <!--     window.addEventListener('scroll', function() { -->
      <!--       const y = window.scrollY; -->
      <!--  -->
      <!--       // if (y < startTransitionHeight) { -->
      <!--       //   return -->
      <!--       // } -->
      <!--  -->
      <!--       const percentageRaw = (y &#45; startTransitionHeight) / (headerHeight &#45; startTransitionHeight); -->
      <!--       const percentage = Math.min(Math.max(1 &#45; percentageRaw, 0), 1); -->
      <!--  -->
      <!--       console.log(percentage) -->
      <!--       initialPositions.forEach(([elem, initialPos, finalPos]) => { -->
      <!--         const x = initialPos[0] + (percentage * (finalPos[0] &#45; initialPos[0])); -->
      <!--         const y = initialPos[1] + (percentage * (finalPos[1] &#45; initialPos[1])); -->
      <!--         elem.style.marginLeft = x + 'px'; -->
      <!--         elem.style.marginTop = y + 'px'; -->
      <!--       }); -->
      <!--     }); -->
      <!--   }, 100); -->
      <!-- </script> -->

      <div class="image"></div>
      <div class="content">
        <h1 class="content-title">I'm <strong>Ryan.</strong></h1>
        <p class="content-paragraph">
          I build stuff in my spare time.
          Also, a software engineer at <a href="https://density.io" target="_blank">Density</a>.
        </p>
      </div>
    </div>

    <img class="tool laptop" src="{{'/assets/img/Laptop.svg' | relative_url}}" />
    <img class="tool notebook" src="{{'/assets/img/Notebook.svg' | relative_url}}" />
    <img class="tool wrench" src="{{'/assets/img/Wrench.svg' | relative_url}}" />
    <img class="tool paintbrush" src="{{'/assets/img/Paintbrush.svg' | relative_url}}" />
    <img class="tool thread" src="{{'/assets/img/Thread.svg' | relative_url}}" />

    <img class="tool mat" src="{{'/assets/img/Mat.svg' | relative_url}}" />
    <img class="tool onetwothree" src="{{'/assets/img/1-2-3 Block.svg' | relative_url}}" />
    <img class="tool camera" src="{{'/assets/img/Sony A6000.svg' | relative_url}}" />
    <img class="tool keyboard" src="{{'/assets/img/Keyboard.svg' | relative_url}}" />
  </div>
{%- endif -%}

<header class="site-header">

  <div class="wrapper">
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}
    {%- assign titles_size = site.pages | map: 'title' | join: '' | size -%}
    <a class="site-title" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>

    {%- if titles_size > 0 -%}
      <nav class="site-nav">
        <input type="checkbox" id="nav-trigger" class="nav-trigger" />
        <label for="nav-trigger">
          <span class="menu-icon">
            <svg viewBox="0 0 18 15" width="18px" height="15px">
              <path d="M18,1.484c0,0.82-0.665,1.484-1.484,1.484H1.484C0.665,2.969,0,2.304,0,1.484l0,0C0,0.665,0.665,0,1.484,0 h15.032C17.335,0,18,0.665,18,1.484L18,1.484z M18,7.516C18,8.335,17.335,9,16.516,9H1.484C0.665,9,0,8.335,0,7.516l0,0 c0-0.82,0.665-1.484,1.484-1.484h15.032C17.335,6.031,18,6.696,18,7.516L18,7.516z M18,13.516C18,14.335,17.335,15,16.516,15H1.484 C0.665,15,0,14.335,0,13.516l0,0c0-0.82,0.665-1.483,1.484-1.483h15.032C17.335,12.031,18,12.695,18,13.516L18,13.516z"/>
            </svg>
          </span>
        </label>

        <div class="trigger">
          {%- for path in page_paths -%}
            {%- assign my_page = site.pages | where: "path", path | first -%}
            {%- if my_page.title -%}
            <a class="page-link" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
            {%- endif -%}
          {%- endfor -%}
        </div>
      </nav>
    {%- endif -%}
  </div>
</header>
