---
# Only the main Sass file needs front matter (the dashes are enough)
---
@import "minima/skins/{{ site.minima.skin | default: 'classic' }}";

@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600");

// ----------------------------------------------------------------------------
// DESIGN TOKENS
// ----------------------------------------------------------------------------

// DESIGN TOKENS: FONTS
$base-font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Segoe UI Symbol", "Segoe UI Emoji", "Apple Color Emoji", Roboto, Helvetica, Arial, sans-serif !default;
$code-font-family: "Menlo", "Inconsolata", "Consolas", "Roboto Mono", "Ubuntu Mono", "Liberation Mono", "Courier New", monospace;
$header-font-family: "Josefin Sans";

$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$header-font-weight: 600;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.6 !default;

$spacing-unit:     24px !default;

$table-text-align: left !default;

// DESIGN TOKENS: COLORS
$gray-900: #212121;
$gray-500: #828282;
$gray-300: #dbdbdb;
$gray-000: #f8f8f8;
$white: #ffffff;

$blue-900: #0d437e;
$blue-500: #64adff;
$blue-300: #7fbbff;
$blue-000: #eff6ff;

$green-500: #79CC1F;
$purple-500: #C042FF;

// DESIGN TOKENS: OTHER
// Width of the content area
$content-width:    1000px !default;
$on-medium:        600px !default;
$on-large:         800px !default;

$on-palm:          $on-medium !default;
$on-laptop:        $on-large !default;


// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
// Notice the following mixin uses max-width, in a deprecated, desktop-first
// approach, whereas media queries used elsewhere now use min-width.
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: #{$ratio}rem;
}

@function space($n) {
  @return $n * $spacing-unit;
}

// Import pre-styling-overrides hook and style-partials.
@import
  "minima/custom-variables", // Hook to override predefined variables.
  "minima/base",             // Defines element resets.
  "minima/layout",           // Defines structure and style based on CSS selectors.
  "minima/custom-styles"     // Hook to override existing styles.
;

@import "icons/scss/fontawesome.scss";
@import "icons/scss/light.scss";
@import "icons/scss/brands.scss";

%wrapper-row {
  @extend .wrapper;
  &:after { content: none; }
}

// ----------------------------------------------------------------------------
// STYLE DEFAULTS
// ------------------------------------------------------------------------------

body {
  background-color: $white;
}

h1, h2, h3, h4, h5, h6 {
  color: $gray-900;
  font-family: $header-font-family;
  font-weight: $header-font-weight;
}

a {
  cursor: pointer;
  color: $blue-900;
  border-bottom: 1px dotted $blue-900;
  text-decoration: none;
  opacity: 0.85;
  &:visited {
    color: $blue-900;
  }
  &:hover {
    opacity: 1;
    text-decoration: none;
  }
  &:active, &:focus {
    opacity: 1;
    color: $gray-900;
    border-bottom: 1px dotted $gray-900;
    text-decoration: none;
  }
}

// ----------------------------------------------------------------------------
// SITE HEADER
// ------------------------------------------------------------------------------
$big-header-content-width: $content-width;

.site-header {
  border-top: 1px solid $border-color-01;
}

.site-big-header {
  width: 100%;
  padding-top: space(1);
  padding-bottom: space(1);
  background-color: $blue-000;
  border-bottom: 2px solid $gray-300;

  position: relative;
  overflow: hidden;

  .inner {
    @extend %wrapper-row;

    display: flex;
    flex-direction: column;
    align-items: center;

    .image {
      margin-top: 16px;
      width: 216px;
      height: 216px;
      margin-bottom: space(1);
      border-radius: 50%;
      background-image: url({{ "/assets/img/smile.png" | relative_url }});
      background-repeat: no-repeat;
      background-size: 450px; /* hand tuned value */
      background-position: center;
      z-index: 999;
    }

    // .image-spacer {
    //   width: 216px;
    //   height: 216px;
    //   margin-bottom: $spacing-unit;
    // }

    .content {
      font-family: $header-font-family;
      font-weight: 300;
      margin-top: 32px;

      .content-title {
        font-weight: 300;
        @include relative-font-size(2.5);
        margin-bottom: 0px;
      }
      .content-paragraph {
        @include relative-font-size(1.25);
      }
      .content-more {
        display: inline-block;
        width: 170px;

        @include relative-font-size(1.25);
        font-weight: 500;
        border-bottom-color: transparent;
        i {
          transition: all 100ms ease-in-out;
          margin-left: space(0.1);
        }
        &:hover {
          border-bottom-color: $blue-900;
          i {
            margin-left: space(0.25);
          }
        }
      }
    }
  }

  .tool {
    position: absolute;
    top: 0px;
    left: 50%;
    filter: grayscale(1);
    opacity: 0.5;
    transition: all 250ms ease-in-out;

    @mixin make-tool($width, $transform) {
      width: $width;
      transform: #{$transform};
      &:hover {
        filter: none;
        transform: #{$transform} scale(1.1);
        z-index: 999;
        opacity: 1;
      }
    }

    &.laptop {
      @include make-tool(
        340px,
        "translate(-750px, -50px) rotate(0deg)"
      );
    }
    &.notebook {
      @include make-tool(
        150px,
        "translate(-430px, 36px) rotate(15deg)"
      );
    }
    &.wrench {
      @include make-tool(
        60px,
        "translate(-200px, -24px) rotate(200deg)"
      );
    }
    &.paintbrush {
      @include make-tool(
        75px,
        "translate(-260px, 50px) rotate(130deg)"
      );
    }
    &.thread {
      @include make-tool(
        132px,
        "translate(-450px, 260px) rotate(-15deg)"
      );
    }

    &.mat {
      @include make-tool(
        250px,
        "translate(250px, 120px) rotate(-15deg)"
      );
    }
    &.onetwothree {
      @include make-tool(
        90px,
        "translate(144px, 170px) rotate(-120deg)"
      );
    }
    &.camera {
      @include make-tool(
        200px,
        "translate(160px, 32px) rotate(15deg)"
      );
    }
    &.keyboard {
      @include make-tool(
        440px,
        "translate(480px, 8px) rotate(0deg)"
      );
    }
  }
}
.site-big-header + .site-header {
  border: 0px;
}

.site-header {
  height: 72px;
  border: 0px;
  font-family: $header-font-family;
  display: flex;
  align-items: center;

  .inner {
    @extend %wrapper-row;

    width: $content-width;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .site-title-mark {
      width: 48px;
      border-bottom: 0px;
    }
    .page-link {
      cursor: pointer;
      color: $blue-900;
      padding-bottom: 1px;
      border-bottom: 1px dotted transparent;
      text-decoration: none;
      opacity: 0.85;
      @include relative-font-size(1.25);
      &:visited {
        color: $blue-900;
      }
      &:hover {
        opacity: 1;
        text-decoration: none;
        border-bottom-color: $gray-900;
      }
      &:active, &:focus {
        opacity: 1;
        color: $gray-900;
        border-bottom-color: $gray-900;
        text-decoration: none;
      }
    }
    .page-link.active {
      font-weight: 800;
      border-bottom: 1px solid $blue-900;
    }
  }
}

.site-nav {
  width: auto;
  border-color: transparent;

  .trigger {
    transition: all 250ms ease-in-out;
  }

  // Show the mobile nav icon when on small screens
  @include media-query($on-medium) {
    .trigger {
      position: fixed;
      top: 0px;
      bottom: 0px;
      left: 0px;
      right: 0px;
      background-color: $white;
      z-index: 9999;
      padding-top: 72px;
      padding-right: space(0.5);

      .page-link {
        display: inline-block;
        text-align: left;
      }
    }
  }
}

.social-media-links {
  display: inline-flex;
  gap: space(0.25);

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: space(1);
    height: space(1);
    border: 0px;
    color: $gray-900;
    &:visited {
      color: $gray-900;
    }
    &:hover {
      opacity: 1;
    }
    &:active, &:focus {
      opacity: 1;
      color: $blue-900;
    }
  }
}


// ----------------------------------------------------------------------------
// BLOG POST
// ----------------------------------------------------------------------------

.post-header {
  @extend %wrapper-row;
  padding-top: space(1);
  display: flex;

  .post-title {
    margin-bottom: 6px;
  }

  .post-subtitle {
    color: $gray-900;
    font-style: italic;
    font-size: 16px;
  }

  .post-meta {
    color: $gray-500;
    margin-top: 6px;
    font-weight: 500;
  }

  .post-header-image {
    width: 148px;
    padding-right: 24px;
  }

  @include media-query($on-large) {
    padding-top: 0px;
    flex-direction: column;
    .post-header-image {
      width: 128px;
      margin: 0px auto;
      padding-right: 0px;
      padding-bottom: 24px;
    }
  }
}

.post-link {
  display: inline-block;
  border-bottom: 0px;
  height: 32px;

  cursor: pointer;
  color: $blue-900;
  border-bottom: 1px dotted transparent;
  text-decoration: none;
  opacity: 0.85;
  &:visited {
    color: $blue-900;
  }
  &:hover {
    opacity: 1;
    text-decoration: none;
    border-bottom-color: $blue-900;
  }
  &:active, &:focus {
    opacity: 1;
    color: $gray-900;
    border-bottom-color: $gray-900;
    text-decoration: none;
  }
}

.post-content {
  @extend %wrapper-row;
}

// When rendering a video inline to the post, use these styles. However, fall back to a full-width
// view when on mobile.
.post-content-video {
  background-color: $gray-900;
  margin-right: 16px;
  border: 8px solid $blue-500;
  border-radius: 8px;
  overflow: hidden;

  width: 400px;
  float: left;
  .post-content-video-inner {
    aspect-ratio: 16 / 9;
    width: 400px;
  }

  @include media-query($on-large) {
    width: 100%;
    height: 250px;
    float: none;
    border: 0px;
    margin-bottom: 32px;
    .post-content-video-inner {
      height: 250px;
      margin: 0px auto;
    }
  }
}

.post-video-well {
  @extend %wrapper-row;
  display: flex;
  justify-content: center;
  background-color: $gray-900;
  margin-bottom: space(1);
  border-radius: 8px;
}
.post-video-well-inner {
  aspect-ratio: 16 / 9;
  width: 100%;
  max-width: 800px;
}

.post-content {
  img {
    border: 8px solid $gray-300;
    border-radius: 8px;
  }

  img.left {
    float: left;
    width: 300px;
    margin-right: space(1);
    margin-bottom: space(1);
  }

  img.right {
    float: right;
    width: 300px;
    margin-right: space(1);
    margin-bottom: space(1);
  }

  img.mid {
    width: 800px;
    margin-bottom: space(1);
    margin-left: auto;
    margin-right: auto;
  }
}
