---
# Only the main Sass file needs front matter (the dashes are enough)
---
@import "minima/skins/{{ site.minima.skin | default: 'classic' }}";

@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600");

// ----------------------------------------------------------------------------
// DESIGN TOKENS
// ----------------------------------------------------------------------------
$base-font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Segoe UI Symbol", "Segoe UI Emoji", "Apple Color Emoji", Roboto, Helvetica, Arial, sans-serif !default;
$code-font-family: "Menlo", "Inconsolata", "Consolas", "Roboto Mono", "Ubuntu Mono", "Liberation Mono", "Courier New", monospace;
$header-font-family: "Josefin Sans";
$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$header-font-weight: 600;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.6 !default;

$spacing-unit:     24px !default;

$table-text-align: left !default;

// Width of the content area
$content-width:    1000px !default;

$on-palm:          600px !default;
$on-laptop:        800px !default;

$on-medium:        $on-palm !default;
$on-large:         $on-laptop !default;

$blue: #64ADFF;
$green: #79CC1F;
$purple: #C042FF;

$black: #212121;
$gray: #DBDBDB;
$gray-000: #F8F8F8;
$gray-500: #828282;
$white: #FFF;

$link-base-color: $blue;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
// Notice the following mixin uses max-width, in a deprecated, desktop-first
// approach, whereas media queries used elsewhere now use min-width.
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: #{$ratio}rem;
}

// Import pre-styling-overrides hook and style-partials.
@import
  "minima/custom-variables", // Hook to override predefined variables.
  "minima/base",             // Defines element resets.
  "minima/layout",           // Defines structure and style based on CSS selectors.
  "minima/custom-styles"     // Hook to override existing styles.
;

%wrapper-row {
  @extend .wrapper;
  &:after { content: none; }
}


body {
  background-color: $white;
}

h1, h2, h3, h4, h5, h6 {
  color: $black;
  font-family: $header-font-family;
  font-weight: $header-font-weight;
}


.site-header {
  border-top: 1px solid $border-color-01;
}




$big-header-content-width: $content-width;

.site-big-header {
  width: 100%;
  padding-top: $spacing-unit;
  padding-bottom: $spacing-unit;
  background-color: $gray-000;
  border-bottom: 2px solid $gray;

  position: relative;
  overflow: hidden;

  .inner {
    @extend %wrapper-row;

    display: flex;
    flex-direction: column;
    align-items: center;

    .image {
      // position: fixed;
      width: 216px;
      height: 216px;
      margin-bottom: $spacing-unit;
      border-radius: 50%;
      background-image: url({{ "/assets/img/smile.png" | relative_url }});
      background-repeat: no-repeat;
      background-size: 450px; /* hand tuned value */
      background-position: center;
      z-index: 999;
    }

    // .image-spacer {
    //   width: 216px;
    //   height: 216px;
    //   margin-bottom: $spacing-unit;
    // }

    .content {
      font-family: $header-font-family;
      font-weight: 300;

      .content-title {
        font-weight: 300;
      }
      .content-paragraph {
        @include relative-font-size(1.25);
        a {
          text-decoration: underline;
        }
      }
    }
  }

  .tool {
    position: absolute;
    top: 0px;
    left: 50%;

    &.laptop {
      width: 340px;
      transform: translate(-750px, -50px) rotate(0deg);
    }
    &.notebook {
      width: 150px;
      transform: translate(-430px, 36px) rotate(15deg);
    }
    &.wrench {
      width: 60px;
      transform: translate(-200px, -24px) rotate(200deg);
    }
    &.paintbrush {
      width: 75px;
      transform: translate(-260px, 50px) rotate(130deg);
    }
    &.thread {
      width: 132px;
      transform: translate(-450px, 260px) rotate(-15deg);
    }

    &.mat {
      width: 250px;
      transform: translate(250px, 120px) rotate(-15deg);
    }
    &.onetwothree {
      width: 90px;
      transform: translate(144px, 170px) rotate(-120deg);
    }
    &.camera {
      width: 200px;
      transform: translate(160px, 32px) rotate(15deg);
    }
    &.keyboard {
      width: 440px;
      transform: translate(480px, 8px) rotate(0deg);
    }
  }
}
.site-big-header + .site-header {
  border: 0px;
}

.site-header {
  height: 72px;
  border: 0px;
  font-family: $header-font-family;
  display: flex;
  align-items: center;
  .inner {
    @extend %wrapper-row;

    width: $content-width;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .site-title-mark {
      width: 48px;
    }
    .page-link {
      font-weight: 500;
      padding: 8px;
    }
    .page-link.active {
      color: $white;
      border: 1px solid $blue;
      border-radius: 8px;
      background-color: $blue;
    }
  }
}

.post-header {
  @extend %wrapper-row;
  padding-top: $spacing-unit;
  display: flex;

  .post-title {
    margin-bottom: 6px;
  }

  .post-subtitle {
    color: $black;
    font-style: italic;
    font-size: 16px;
  }

  .post-meta {
    color: $gray-500;
    margin-top: 6px;
    font-weight: 500;
  }

  .post-header-image {
    width: 148px;
    padding-right: 24px;
  }

  @include media-query($on-large) {
    padding-top: 0px;
    flex-direction: column;
    .post-header-image {
      width: 128px;
      margin: 0px auto;
      padding-right: 0px;
      padding-bottom: 24px;
    }
  }
}

.post-content {
  @extend %wrapper-row;
}

// When rendering a video inline to the post, use these styles. However, fall back to a full-width
// view when on mobile.
.post-content-video {
  background-color: $black;
  margin-right: 16px;
  border: 8px solid $blue;
  border-radius: 8px;
  overflow: hidden;

  width: 400px;
  float: left;
  .post-content-video-inner {
    aspect-ratio: 16 / 9;
    width: 400px;
  }

  @include media-query($on-large) {
    width: 100%;
    height: 250px;
    float: none;
    border: 0px;
    margin-bottom: 32px;
    .post-content-video-inner {
      height: 250px;
      margin: 0px auto;
    }
  }
}

.post-video-well {
  @extend %wrapper-row;
  display: flex;
  justify-content: center;
  background-color: $black;
  margin-bottom: $spacing-unit;
  border-radius: 8px;
}
.post-video-well-inner {
  aspect-ratio: 16 / 9;
  width: 100%;
  max-width: 800px;
}

.post-content {
  img {
    border: 8px solid $gray;
    border-radius: 8px;
  }

  img.left {
    float: left;
    width: 300px;
    margin-right: $spacing-unit;
    margin-bottom: $spacing-unit;
  }

  img.right {
    float: right;
    width: 300px;
    margin-right: $spacing-unit;
    margin-bottom: $spacing-unit;
  }

  img.mid {
    width: 800px;
    margin-bottom: $spacing-unit;
    margin-left: auto;
    margin-right: auto;
  }
}
